{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCards</title>
    <link href="{{STATIC_PREFIX}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_PREFIX}}customcss/card.css">
    <!-- <link rel="stylesheet" href="memorize.js"> -->
    <style>
      .showcard{
        position: absolute;
        padding-top: 1%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 66%;
        text-align: center;
      }
  </style>
</head>
<body>
  {%csrf_token%}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FlashCards</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'memorize'%}">Memorize</a>
          </li>
        </ul>
      </div>
      <form class="d-flex" role="search" method="get" action="{%url 'search'%}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search-text">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <hr style="color:rgb(44, 42, 42);">
  {%block content%}
  {%endblock%}

  <script>
    function reveal(){
      var elms = document.getElementsByClassName("answer");
      Array.from(elms).forEach((x) => {
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      })
    }
  </script>
</body>