{%extends 'base.html'%} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCards</title>
    <link rel="stylesheet" href="{{STATIC_PREFIX}}customcss/index.css">

</head>
<body>
    {%csrf_token%}
    {%block content%}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100" style="background-color: rgb(44, 42, 42);border:1px solid rgb(143, 253, 143);">
          <div class="card-body" style="    margin: auto;
    padding-top: 46px;">
            <a class="btn btn-primary" style="display: block; margin: 0 auto;" href="{% url 'createcard'%}">Add</a>
          </div>
        </div>
      </div>
      {% for key in db_data %}
      <div class="col allcards">
          <div class="card h-100" style="background-color: rgb(44, 42, 42);border:1px solid rgb(143, 253, 143);">
            <div class="card-body">
              <h5 class="card-title" style="text-align:center;">{{key.question}}</h5>
              <p class="card-text" style="text-align:center;color:rgb(255, 139, 110)">{{key.tag}}</p>
              <a href="{%url 'show' id=key.id %}" class="btn btn-primary" style="position: absolute;
              top:58%;
              right: 4%;">Expand</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {%endblock%}
    </body>
</html>