{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}customcss/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{%csrf_token%}
    {%block content%}
	<img class="wave" src="{{STATIC_PREFIX}}media/wave.png">
	<div class="container">
		<div class="img">
			<img src="{{STATIC_PREFIX}}media/bg.svg">
		</div>
		<div class="login-content">
			<form method="post" action="{% url 'authenticate'%}">
				{%csrf_token%}
				<img src="{{STATIC_PREFIX}}media/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" placeholder="Username" name="username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" class="input" placeholder="Password" name="password">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
				<!-- <a href="{% url 'authenticate'%}" class="btn" style="text-align: center;padding-top: 8px;transition: none;">Login</a> -->
            </form>
        </div>
    </div>
	{%endblock%}
    <script type="text/javascript" src="{{STATIC_PREFIX}}customcss/script.js"></script>
</body>
</html>