{%extends 'base.html'%} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCards</title>
    <!-- <link href="memorize.js"> -->
    <!-- <script src="memorize.js"></script> -->
</head>
<body>
    {%csrf_token%}
    {%block content%}

    <h1 class="memorize-title" style="text-align: center;">Memorize time</h1>
    <div class="memorizecard">
        <div class="question">
            <h3>{{db_data.question}}</h3>
        </div>
        <div class="answer" style="display:none;margin-top: 50px;">
            <pre><code>{{db_data.answer}}</code></pre>
        </div>
        
        <div class="tag" style="background-color: burlywood;
        width: 8%;
        margin: auto;
        border-radius: 16px;">
        <small>{{key.tag}}</small>
        </div>
        <button onclick="reveal()" style="position: absolute;
        background-color: #02f79c;
        border-radius: 8px;
        top: 88%;
        left: 48%;
        height: 7%;
        width: 9%;">Reveal</button>
        <a href="{% url 'memorize'%}" class="btn btn-primary" style="position: absolute;
        top: 88%;
        left: 90%;
        background-color: cyan;
        width: 8%;
        border-radius: 10px;
        text-decoration: none;
        color: black;">Next</a>
    </div>
    {%endblock%}

</body>
</html>