{%extends 'base.html'%} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCards</title>
</head>
<body>
    {%csrf_token%}
    {%block content%}

    {% for key in db_data %}
    <div class="showcard">
        <div class="question">
            <h3>{{key.question}}</h3>
        </div>
        {% if key.choice%}
            <div class="answer" style="margin-top: 50px;background-color:#746550">
                    <p>{{ key.answer}}</p>
            </div>
        {% else %}
            <div class="answer" style="margin-top: 50px;background-color:#728595">
                <pre><code>{{key.answer}}</code></pre>
            </div>
        {% endif %}
        <div class="tag" style="background-color: #5682a7;
        width: 14%;
        margin: auto;
        border-radius: 16px;">
            <small>{{key.tag}}</small>
        </div>
        <a href="{%url 'edit' id=key.id%}" class="btn btn-primary" style="position: absolute;
        top: 2%;
        right: 2%;">Edit</a>
        <a href="{%url 'delete' id=key.id %}" class="btn btn-primary" style="position: absolute;
        top: 88%;
        left: 46%;">Delete</a>
    </div>
    {%endfor%}
    {%endblock%}
</body>
</html>